<div class="hero">
  <h1>HN Feed</h1>
  <p>We {{'<3'}} hacker news!</p>
</div>
<div class="article_section">
    <div class="article_item" *ngFor="let article of articles">
      <div class="box" (click)="openArticle(article)">
        <p>{{article.story_title ? article.story_title : article.title}}</p>
        <p class="author">- {{article.author}} -</p>
      </div>
      <div class="box">
        <p>{{article.created_at | dateFormat }}</p>
        <div class="trash" (click)="deleteArticle(article)">
          <img src="/assets/images/icons/trash.png" alt="Delete">
        </div>
      </div>
    </div>
</div>
